.card2 {
	/* background-image: url('https://services.meteored.com/img/article/nubes-de-primavera-cumulos-y-cumulonimbos-1682195107394_1280.jpg');
	background-size: cover; */

	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.66)),
		url('https://services.meteored.com/img/article/nubes-de-primavera-cumulos-y-cumulonimbos-1682195107394_1280.jpg');
	background-size: cover;
}
